name: Mirror Docker Images

on:
    workflow_dispatch:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
    

jobs:
  mirror-alpine:
    uses: ./.github/workflows/mirror.yml
    with:
      source_image: docker.io/library/alpine
      tag: 3.22.1
      target_package: ${{ github.repository_owner }}/alpine
    permissions:
      packages: write
      contents: read

  mirror-busybox:
    uses: ./.github/workflows/mirror.yml
    with:
      source_image: docker.io/library/busybox
      tag: 1.37.0
      target_package: ${{ github.repository_owner }}/busybox
    permissions:
      packages: write
      contents: read

  mirror-kubectl:
    uses: ./.github/workflows/mirror.yml
    with:
      source_image: docker.io/alpine/kubectl
      tag: 1.34.1
      target_package: ${{ github.repository_owner }}/kubectl
    permissions:
      packages: write
      contents: read

  mirror-aws-cli:
    uses: ./.github/workflows/mirror.yml
    with:
      source_image: docker.io/amazon/aws-cli
      tag: 2.30.4
      target_package: ${{ github.repository_owner }}/aws-cli
    permissions:
      packages: write
      contents: read
