name: Mirror BusyBox

on:
    workflow_dispatch:
    pull_request:
        branches:
            - main
    schedule:
        - cron: '0 0 * * *'

jobs:
  mirror-busybox:
    uses: ./.github/workflows/mirror-generic.yml
    with:
      source_image: docker.io/library/busybox
      target_package: ${{ github.repository_owner }}/busybox
    permissions:
      packages: write
      contents: read